.skills {
  justify-content: center;
}

.skills__left-side,
.skills__right-side {
  padding: 0rem 1rem;
}

.skill__card {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  /* 0 arriba auto a los costados y 20 abajo  */
  margin: 0 auto 20px; 

  & p {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }
}